/*  CALENDARIO */

/* Caja del calendario */ 
.calendar-container { 
    height: ($medida-px)*100;
    border: ($medida-px)-6 solid $gray;
    box-sizing: border-box;
    border-radius: ($medida-px)*3;
    padding: ($medida-px)+5;
    width:($medida-px)*150;
    margin: ($medida-px)*2 10px;
    display: flex;
    justify-content: center;

}

/* Lineas verticales del Container */ 
.vl {
    border-left: ($medida-px)-4 solid $gray;
    height: (($medida-em)*28)+1;
    border-radius: ($medida-em)+1;
    margin: ($medida-percentage: 10%)/5 0;
  }

  /* Texto de las horas */ 
  .horas {
    text-align: center;
    margin: 0 ($medida-em)*2;
    display: inline-block;
}

/* Texto de los dias */ 
.dias {
    background-color: $white;
    border-width: ($medida-px)/10;
    border-style: solid;
    border-color: black;
    border-radius: ($medida-px)*3;
    text-align: center;
    cursor: pointer;
    padding:($medida-px)/2 ($medida-px)+7;
    font-size: ($medida-em)/2.9;
    text-decoration: none;
    width: ($medida-px)*9;
    margin: $medida-px;
}

.scheduled-class {
    background-color: $white;
    font-family: 'Quicksand', sans-serif;
    border-style: none;
    border-radius: $medida-em;
    text-align: center;
    cursor: pointer;
    padding: ($medida-px)2 ($medida-px)+7;
    font-size: 0.7em;
    text-decoration: none;
    width: ($medida-em)*4;
    margin:(($medida-em)*4)+1;
}
/* FIN DEL CALENDARIO*/ 