/* COLORES */ 
$gray: rgba(236, 236, 236, 0.767);
$lightgray: rgb(241, 241, 241);
$white: rgb(255, 255, 255);
$lightblue: #9fdcff;
$lightblue2: #B9F0FF;
$purple: rgb(116, 124, 235);

/* MEDIDAS */ 
$medida-em: 2em;
$medida-rem: 2em;
$medida-px: 10px;
$medida-percentage: 10%;